$color-green: #4DCDB6;
$color-blue: #9CA7FC;
$color-red: #dc475a;
$color-yellow: #F7E76F;

$color-gray: #DDD;
$color-light-gray: #F2F2F2;

$text: #464646;
$text-medium: #696969;
$text-soft: #7d7d7d;
$text-gray: #a3a3a3;
$text-light: #c7c7c7;

$success: #b1cc0d;
$alert: #9a0830;


$gutter: 7px;
$mobileSideGutters: 20px;

$lg-width: 1180px;
$md-width: 860px;

/* This should be the same in js/stickyh.js */
$headerStickyHeight: 80px; 