table {
  font-size: 14px;
  width:100%;
}

.table-button-container {
  padding: 0 3px 0 3px;
}

.table-button-container button {
  background: #4DCDB6;
  margin: 5px 0;
}

.table-button-container-red {
  padding: 0 3px 0 3px;
}

.table-button-container-red button {
  background: #dc475a;
  margin: 5px 0;
}

.datagrid table
{
  border-collapse: collapse; text-align: right; width: 100%;
}
.datagrid
{
  background: #fff;
  overflow: hidden;
  border: 3px solid #22BDA3;
}
.datagrid table td, .datagrid table th
{
  padding: 5px 6px;
}
.datagrid table thead th
 {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #22BDA3), color-stop(1, #22BDA3) );
  background:-moz-linear-gradient( center top, #22BDA3 5%, #22BDA3 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#22BDA3', endColorstr='#22BDA3');

  font-size: 1.5em;
  font-weight: bold;
}

  .datagrid table thead th:first-child
  {
    border: none;
  }
  .datagrid table tbody td
  {
    margin:100px;
     ; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal;
  }
  .datagrid table tbody .alt td
  {
    background: #EBEBEB;
  }


.columnNumberAlign
{
  text-align: right;
}

.buystock_button {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #34d976;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buystock_button:hover {
  background: #6dd19a;
  text-decoration: none;
}

.buybond_button {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #D83D29;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buybond_button:hover {
  background: #D67D73;
  text-decoration: none;
}
