
#portfolioContent
{
  width: 100%;
}

.btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #2F3042;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5B5E7F;
  text-decoration: none;
}



.portfolioTable {
	border:1px none;
	border-collapse:collapse;
	padding:5px;
  width:100%;
}
.portfolioTable th.name {
	border:1px none;
	padding:5px;
	background:green;
}
.portfolioTable th.movement {
	border:1px none;
	padding:5px;
}
.portfolioTable td {
	border:1px none;
	padding:5px;
}
