@import 'helpers/mixins';
@import 'helpers/normalize';
@import 'base/grid24'; //grid12
@import 'base/type';
@import 'base/variables';
@import 'page/front';
@import 'page/home';
@import 'page/nav';
@import 'page/topinvestor';
@import 'page/profile';
@import 'page/mynetwork';

*,
*:before,
*:after {
    @include border-box();
}

html, body {
    /* 'Droid Serif */
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: $text;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: rgba(#45C9EC, 0.5);
}

::-moz-selection, textarea::-moz-selection, input::-moz-selection {
    background: rgba(#45C9EC, 0.5);
}

input, textarea {
    border: 1px solid #ccc;
}

h1, h2, h3 {
    font-weight: 300;
}

h3 {
    font-size: 1.6em;
    margin-top: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.page_content {
    padding-bottom: 60px;
}

.button {
    font-size: 14px;
    border: 0;
    outline: 0;
    width: 100%;
    min-height: 40px;
    color: #fff;
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}

.red {
    color: $color-red;
}
