.login-form {

	padding-top: 100px;

	.login-row {

		padding: 10px 0;
		font-size: 15px;

		label {
			display: block;
			padding-bottom: 5px;
		}

		input {
			outline: 0;
			@include border-radius(5px);
			min-height: 40px;
			padding-left: 10px;
		}

	}

	.submit-button {
		width: 120px;
		
		button {
			
			background: $color-green;
			opacity: 1;
			
			&.disabled {
				opacity: 0.5;
				pointer-events: none;
			}

		}
	
	}

	.toggle-text {
		font-size: 15px;
		margin-left: 10px;
		cursor: pointer;
		width: 120px;

		button {
			background: $color-blue;
		}

	}

}

.BrefabraskAbout {

	padding-top: 30px;

	h4 {
		font-weight: bold;
		font-style: italic;
	}

	p {
		font-size: 17px;
		padding-bottom: 10px;
	}

}