.home {

	padding-top: 10px;

	.border-right {
		border-right: 1px solid #f1f1f1;
	}

	.news {
		
		.line {

			font-size: 15px;
			border-top: 1px solid #f1f1f1;
			padding: 10px 0;
			cursor: pointer;

			.headline {
				
			}

			.info {

			}

			.time {

			}

		}

	}

}