.my-network {

	padding-top: 40px;

	a {
		color: $text;
	}

	.main-title {
		border-bottom: 1px solid #f1f1f1;

		h3 {
			font-size: 25px;
		}

	}

	.border-right {
		border-right: 1px solid #f1f1f1;
	}

	.follower-line {

		.title {
			font-size: 17px;
			/*padding-top: 10px;*/
			background: #fbfbfb;

			p {
				padding: 10px 10px 10px 10px;
				margin-bottom: 0;
			}

		}

		.line-content {
			padding-top: 10px;
			.line {
				padding: 8px 0;
				border-bottom: 1px solid #f1f1f1;

				span {
					font-size: 12px;
				}

				&:nth-child(1) {
					border-top: 1px solid #f1f1f1;
				}

				.button {
					width: 60px;
					margin-left: 35px;
					background: $color-blue;
				}

			}
		}

	}

}

#networkContent
{
  width:100%;float:left;
}

#networkFollowers
{
  float:left;
  text-align:center;
  width:49%;
  display: inline-block;
}
#networkFollowing
{
  float:right;
  text-align: center;
  width:49%;
  display:inline-block;
}

.networkName
{
  width:50%;
}
.networkLastMovement
{
  width:50%;
}

.followerTable {
	border:1px none;
	border-collapse:collapse;
	padding:5px;
  width:100%;
}
.followerTable th.name {
  width:60%;
	border:1px none;
	padding:5px;
	background:#B7E2C7;
}
.followerTable th.movement {
  width:40%;
	border:1px none;
	padding:5px;
	background:#B0D7FF;
}
.followerTable td {
	border:1px none;
	padding:5px;
}
