.navbar {

	min-height: 80px;
	font-size: 14px;
	color: #fff;
	padding-top: 12px;

	img {

		width: 22px;
		margin-right: 3px;

		&.profile {
			width: 56px;
			margin-top: -24px;
		}

		&.logout {
			width: 21px;
			margin-right: 5px;
		}

	}

	#dateDisplay {
		padding-top: 9px;
	}

	nav {

		padding: 16px;
		font-size: 11px;
		text-transform: uppercase;

		a {
			color: #fff;
			padding: 0 10px;
			border-right: 1px solid $text;

			&:last-child {
				border-right: none;
			}

		}

	}

}

/*.navContent
{
  z-index: 100;
  width:100%;
}

#user_display
{
  float:left;
  display:inline-block;
}

.user_picture
{
  float:left;
  display:inline-block;
}

.dateDisplay
{
  display:inline-block;
  text-align: center;
}

.navExtender
{
  width:90%;
  margin-bottom: 10px;
  float:right;
}

.navExtender img
{
  float:inherit;
}
.navLinks
{
  width:100%;
}

.navTopPane
{
	float:left;
	width: 100%;
	background-color: #B1F9ED;
	clear:both;
}


.navArea
{
  cursor: pointer;
	display: block;
	float: right;
	z-index: 3;
	position: relative;; /*newly added*/
/*}

.navImageLink
{
  cursor:pointer;
}

.frame
{
  height: 100px; width: 100px; overflow: hidden;
}
.zoomin img
{
   height: 100px; width: 100px;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;
 }
.zoomin img:hover
{
  width: 115px; height: 115px;
}*/

/*
.navArea img
{
  float:right;
}

.navArea a
{
  text-align: center;
  float:right;
  clear:both;
}*/
