.profile-container {
	padding: 60px 0;

	#UserSettings {
		padding-top: 20px;
	}

}

.not-following-container {

	border: 1px solid $text-gray;
	margin-top: 100px;
	padding: 40px 5px;

	h3 {
		padding-bottom: 10px;
	}

	.follow-button {
		width: 300px;
		margin: 0 auto;
		button {
			background: $color-blue;
		}
	}

}

.profileContent .div
{
  width:100%;
  border-bottom: 2px solid black;
}

#followingPrice {
  display:inline-block;
  button {
    background: $color-blue;
  }
}

#cardRegister {
  display: inline-block;
  button {
    background: $color-blue;
  }
}

#stockChart_Image
{
  display:inline-block;
  width:40%;
}

#stockChart_Info
{
  display:inline-block;
  width:20%;
}

#UserSettings
{
  width:100%;
  display: inline-block;
}

/*.profile_settingsButton {
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.profile_settingsButton:hover {
  background: #3cb0fd;
  text-decoration: none;
}*/
