.top-investors {

	color: $text;

	ul {
		
		padding-top: 12px;

		li {
			display: inline-block;

			a {
				text-decoration: none;
			}

		}
	}

	.duration-button {
		width: 100px;
		
		button {
			background: $color-blue;
			&.selected {
				background: $color-green;
			}
		}

	}

	.top-headline {
		padding-bottom: 10px;
		border-bottom: 1px solid #f1f1f1;
		.title {
			padding-top: 14px;	
		}
	}

	.table-header {
		border-bottom: 1px solid #f1f1f1;
	}

	.table-content {
		padding: 5px 0;
		.follow-button {
			button {
				background: $color-blue;
			}
		}
	}

}
 /* look at shit below */

#topinvestorsContent
{
  width: 100%;
}

.label_changeGain
{
  display:inline-block;
}

.btn {
  margin-bottom: 10px;
  margin-left: 10px;
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #2F3042;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5B5E7F;
  text-decoration: none;
}

.btn_follower {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #4B4D68;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn_follower:hover {
  background: #6F7399;
  text-decoration: none;
}

.followerTable {
	border:1px none;
	border-collapse:collapse;
	padding:5px;
  width:100%;
}
.followerTable th.name {
  width:30%;
	border:1px none;
	padding:5px;
	background:#B7E2C7;
}
.followerTable th.movement {
  width:40%;
	border:1px none;
	padding:5px;
	background:#B7E2C7;
}
.followerTable td {
	border:1px none;
	padding:5px;
}

.followerTable td.name {
	text-align: center;
}
